* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#controls-row {
	display: none;
}

.control-enabled #controls-row {
	display: flex;
}

#speed1, #speed2 {
	width: 90vw;
	height:100px;
}
#enabled-group {
	height: 200px;
	width: 300px;
	min-height: 100px;
	min-width: fit-content;
	font-size: 26px;
}

#disable-label {
	font-size: inherit;
	min-width: 0;
	--bs-btn-active-bg: rgb(155, 0, 0);
}
#enable-label {
	font-size: inherit;

	--bs-btn-active-bg: rgb(0, 155, 0);
}

.control-enabled #enabled-group {
	height: 0;
	font-size: 16px;
}

.control-enabled #disable-label {
	min-width: 200px;
}
.control-enabled #ping {
	height: 50px;
}
.control-enabled .card-title {
	display: none;
}
.control-enabled #control-card {
	min-height: 100px;
	position: fixed;
	width: 100%;
	left:0;
}
.control-enabled #control-card .card-body {
	padding: 0;
}
.control-enabled #main-container {
	margin-top: 0 !important;
}
#control-card.disconnected {
	background-color: red!important;
}
#enable-message {
	display: none;
}
.enabled-not-driving #enable-message{
	display:block;
}
.shadow {
	--bs-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
}
#joystick-inner {
	width: 100px;
	height: 100px;
	margin-left:-50px;
	margin-top:-50px;
	z-index: 98;
	border-radius: 50%;
	background-color: lightgray;
	position: relative;
	left:60px;
	top:60px;
	border: 2px solid rgb(96, 96, 96);
}

#joystick-outer {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: gray;
	margin-right: 10vw;
	margin-bottom: 10vh;
}
#throttle, #forward-stick {
	position: absolute;
	top:calc(50% - 25px);
	width:200px;
	max-width:200px;
	transform: rotate(270deg);
	-webkit-appearance: none;
	appearance: none;
}
#throttle {
	right:-50px;
}
#forward-stick {
	left:50px;
	width: 60vh;
}
#throttle.form-range::-webkit-slider-thumb {
	width: 2rem;
	height: 2rem;
	transform: translateY(-0.5rem);
	appearance: none;
	background-color: gray;
}
#forward-stick.form-range::-webkit-slider-thumb {
	width: 4rem;
	height: 4rem;
	transform: translateY(-1.5rem);
	appearance: none;
}

#rotate-stick.form-range::-webkit-slider-thumb {
	width: 4rem;
	height: 4rem;
	transform: translateY(-1.5rem);
	appearance: none;
}
#shoot {
	width:100px;
	height:100px;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
}
#shoot-safety-box {
	position: absolute;
	bottom: 10px;
	align-items: center;
	display: flex;

}
.card {
	background: transparent!important;
}
#camera {
	position: absolute;
	top:0%;
	z-index: -10;
	height:100%;
	left:20%;
}
:has(#shoot-safety:not(:checked)) #shoot {
  background-color: lightgray;
  cursor: not-allowed;
}
#shoot-safety {
	height:25px;
	width: 50px;
}
.control-enabled #controls-row {
	touch-action: none;
	margin-top: 100px;
	height: calc(100dvh - 100px);
}

#leftright-box {
	position:absolute;
	top:0;
	display: flex;
	justify-content: center;
}
#updown-box {
	position:absolute;
	right:10px;
	justify-items: center;
	text-align: center;
}
.adjust-btn {
	width: 50px;
	height: 50px;
	font-size: 20px;
}
#rotate-text {
	align-content: center;
	text-align: center;
	vertical-align: middle;
	margin-right:20px;
	margin-left: 20px;
}


body:not(.show-1) .show-for-1 {
	display: none!important;
}

body:not(.show-2) .show-for-2 {
	display: none!important;
}

body:not(.show-3) .show-for-3 {
	display: none!important;
}
@media (max-width: 577px) {
	.control-enabled #controls-row {
		margin-top: 135px;
		height: calc(100dvh - 132px);
	}
	#turret-controls, #drive-controls {
		height: 50% !important;
	}
	#camera {
		height:unset;
		width:100%;
		left:0%;
		top: 30%;
	}
}